@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div>
    You can contact me on <a href="mailto:yrshaikh.mail@gmail.com">yrshaikh.mail@gmail.com</a> or you can <a target="_blank" href="http://yassershaikh.com/contact-me">drop me a message</a>.
</div>