<h4 id="icons">Icons</h4>
<div class="demo-icons">        
    <div class="demo-content">
        <span class="fui-arrow-right"></span>
        <span class="fui-arrow-left"></span>
        <span class="fui-cmd"></span>
        <span class="fui-check-inverted"></span>
        <span class="fui-heart"></span>
        <span class="fui-location"></span>
        <span class="fui-plus"></span>
        <span class="fui-check"></span>
        <span class="fui-cross"></span>
        <span class="fui-list"></span>
        <span class="fui-new"></span>
        <span class="fui-video"></span>
        <span class="fui-photo"></span>
        <span class="fui-volume"></span>
        <span class="fui-time"></span>
        <span class="fui-eye"></span>
        <span class="fui-chat"></span>
        <span class="fui-search"></span>
        <span class="fui-user"></span>
        <span class="fui-mail"></span>
        <span class="fui-lock"></span>
        <span class="fui-gear"></span>
        <span class="fui-radio-unchecked"></span>
        <span class="fui-radio-checked"></span>
        <span class="fui-checkbox-unchecked"></span>
        <span class="fui-checkbox-checked"></span>
        <span class="fui-calendar-solid"></span>
        <span class="fui-pause"></span>
        <span class="fui-play"></span>
        <span class="fui-check-inverted-2"></span>
    </div>
</div>