<h4 id="input">Input</h4>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
	        <input type="text" class="form-control" placeholder="Inactive" value="">
        </div>          
    </div>
    <div class="col-md-3">
        <div class="form-group has-error">
        <input type="text" class="form-control" value="Error">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group has-success">
        <input type="text" class="form-control" value="Success">
        <span class="input-icon fui-check-inverted"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
	        <input type="text" class="form-control" disabled="disabled" value="Disabled">
        </div>          
    </div>
</div>