<h4 id="navigation">Navigation</h4>
<div class="row">
    <div class="col-md-3">
        <div class="btn-toolbar">
        <div class="btn-group">
            <a href="#fakelink" class="btn btn-primary"><span class="fui-time"></span></a>
            <a href="#fakelink" class="btn btn-primary"><span class="fui-photo"></span></a>
            <a href="#fakelink" class="btn btn-primary active"><span class="fui-heart"></span></a>
            <a href="#fakelink" class="btn btn-primary"><span class="fui-eye"></span></a>
        </div>
        </div> <!-- /toolbar -->
    </div>
    <div class="col-md-3 margin-top-zero">
        <ul class="pager">
        <li class="previous">
            <a href="#fakelink">
            <span class="fui-arrow-left"></span>
            <span>All messages</span>
            </a>
        </li>
        <li class="next">
            <a href="#fakelink">
            <span class="fui-arrow-right"></span>
            </a>
        </li>
        </ul> <!-- /pager -->
    </div>
    <div class="col-md-6 pagination margin-top-zero">
        <ul>
            <li class="previous"><a class="fui-arrow-left" href="#fakelink"></a></li>
            <li class="active"><a href="#fakelink">1</a></li>
            <li><a href="#fakelink">2</a></li>
            <li><a href="#fakelink">3</a></li>
            <li><a href="#fakelink">4</a></li>
            <li><a href="#fakelink">5</a></li>
            <li><a href="#fakelink">6</a></li>
            <li><a href="#fakelink">7</a></li>
            <li><a href="#fakelink">8</a></li>
            <li><a href="#fakelink">9</a></li>
            <li class="next"><a class="fui-arrow-right" href="#fakelink"></a></li>
        </ul>
    </div> <!-- /pagination -->
</div> <!-- /demo-navigation -->