<h4 id="progressBar">Progress bar and Sliders</h4>
<div class="row">
    <div class="col-md-12">
        <div class="progress">
        <div style="width: 45%;" class="progress-bar"></div>
        </div>
        <br>
        <div class="progress">
        <div style="width: 40%;" class="progress-bar"></div>
        <div style="width: 10%;" class="progress-bar progress-bar-warning"></div>
        <div style="width: 10%;" class="progress-bar progress-bar-danger"></div>
        <div style="width: 10%;" class="progress-bar progress-bar-success"></div>
        <div style="width: 10%;" class="progress-bar progress-bar-info"></div>
        </div>
        <br>
        <div class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" id="slider" aria-disabled="false"><div style="margin-left: 25%;" class="ui-slider-segment"></div><div style="margin-left: 25%;" class="ui-slider-segment"></div><div style="margin-left: 25%;" class="ui-slider-segment"></div>
        <div class="ui-slider-segment"></div>
        <div class="ui-slider-segment"></div>
        <div class="ui-slider-segment"></div>
        <div class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-min" style="width: 25%;"></div><a href="#" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 25%;"></a></div>
    </div> <!-- /sliders -->
</div>
