<div id="footer">
    <div class="container">
    <p class="text-muted credit">Built using
    <a href="http://getbootstrap.com">Bootstrap 3.0</a> 
    and <a href="http://designmodo.github.io/Flat-UI/">Flat UI</a>
    by <a href="http://yassershaikh.com/contact-me/">Yasser Shaikh</a></p>
    </div>
</div>