.field-validation-error, .validation-summary-errors {color:#C0392B}
.custom-row { padding-bottom: 10px;}
.margin-top-zero { margin-top: 0px;}
.margin-top-zero ul { margin-top: 0px;}
.demo-content span { margin-right: 45px;margin-bottom: 10px;font-size: 26px;}