<h4 id="buttons">Buttons</h4>
<div class="row custom-row">
	<div class="col-md-3">
	    <a href="#" class="btn btn-block btn-lg btn-primary">Primary Button</a>
	</div>
	<div class="col-md-3">
	    <a href="#" class="btn btn-block btn-lg btn-warning">Warning Button</a>
	</div>
	<div class="col-md-3">
	    <a href="#" class="btn btn-block btn-lg btn-default">Default Button</a>
	</div>
	<div class="col-md-3">
	    <a href="#" class="btn btn-block btn-lg btn-danger">Danger Button</a>
	</div>
</div>

<div class="row custom-row">
	<div class="col-md-3">
	  <a href="#" class="btn btn-block btn-lg btn-success">Success Button</a>
	</div>
	<div class="col-md-3">
	  <a href="#" class="btn btn-block btn-lg btn-inverse">Inverse Button</a>
	</div>
	<div class="col-md-3">
	  <a href="#" class="btn btn-block btn-lg btn-info">Info Button</a>
	</div>
	<div class="col-md-3">
	  <a href="#" class="btn btn-block btn-lg btn-default disabled">Disabled Button</a>
	</div>
</div>