<h4 id="menus">Menu</h4>
<div class="row custom-row">
    <div class="col-md-9">
        <div class="navbar navbar-inverse">
        <div class="navbar-header">
	        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse-01"></button>
        </div>            
        <div class="navbar-collapse collapse navbar-collapse-01">
            <ul class="nav navbar-nav navbar-left">
            <li>
                <a href="#">
                Menu Item
                <span class="navbar-unread">1</span>
                </a>
            </li>
            <li class="active">
                <a href="#">
                Messages
                <span class="navbar-unread">1</span>
                </a>
                <ul>
                <li><a href="#">Element One</a></li>
                <li>
                    <a href="#">Sub menu</a>
                    <ul>
                    <li><a href="#">Element One</a></li>
                    <li><a href="#">Element Two</a></li>
                    <li><a href="#">Element Three</a></li>
                    </ul> <!-- /Sub menu -->
                </li>
                <li><a href="#">Element Three</a></li>
                </ul> <!-- /Sub menu -->
            </li>
            <li>
                <a href="#">
                About Us
                </a>
            </li>
            </ul>
        </div><!--/.nav -->
        </div>
    </div>
    <div class="col-md-3">
        <select name="herolist" value="X-Men" class="select-block" style="display: none;">
        <option value="0">Choose hero</option>
        <option value="1">Spider Man</option>
        <option value="2">Wolverine</option>
        <option value="3">Captain America</option>
        <option value="X-Men" selected="selected">X-Men</option>
        <option value="Crocodile">Crocodile</option>
        </select><div class="btn-group select select-block"><button class="btn dropdown-toggle clearfix btn-primary" data-toggle="dropdown"><span class="filter-option pull-left">X-Men</span>&nbsp;<span class="caret"></span></button><span class="dropdown-arrow dropdown-arrow-inverse"></span><ul class="dropdown-menu dropdown-inverse" role="menu" style="overflow-y: auto; min-height: 108px;"><li rel="0"><a tabindex="-1" href="#" class=""><span class="pull-left">Choose hero</span></a></li><li rel="1"><a tabindex="-1" href="#" class=""><span class="pull-left">Spider Man</span></a></li><li rel="2"><a tabindex="-1" href="#" class=""><span class="pull-left">Wolverine</span></a></li><li rel="3"><a tabindex="-1" href="#" class=""><span class="pull-left">Captain America</span></a></li><li rel="4" class="selected"><a tabindex="-1" href="#" class=""><span class="pull-left">X-Men</span></a></li><li rel="5"><a tabindex="-1" href="#" class=""><span class="pull-left">Crocodile</span></a></li></ul></div>
    </div>
</div>